fastapi
uvicorn
sqlalchemy
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib
bcrypt==4.0.1
python-multipart
python-dotenv
psycopg2-binary
pytest
httpx
portalocker
slowapi
Pillow
email-validator
stripe
